# Format Style Options - Created with Clang Power Tools
---
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: Google
BreakBeforeBraces: Allman
ColumnLimit: 159
Cpp11BracedListStyle: true
FixNamespaceComments: false
IndentWidth: 4
SpacesInAngles: true
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: true
SpacesInConditionalStatement: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth: 4
UseTab: Never
...
