[submodule "include/copa-pdk"]
	path = include/copa-pdk
	url = git@github.com:FrankSchumann/copa-pdk.git
[submodule "include/runtime-sdk"]
	path = include/runtime-sdk
	url = git@github.com:FrankSchumann/runtime-sdk.git
